html, body, div, ul, li {
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
    overflow-y: scroll;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'pt sans', arial, helvetica, sans-serif !important;
    font-size: .94em;
    text-align: justify;
    line-height: 1.5em;
    background-color: #FFFFFF;
    color: #444444;
}

#container{
    width: 800px;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}

#container a,h4{
    color: #C83E22;
    text-decoration: none;
}

#container a:hover{
    text-decoration: underline;
}

#container ul{
    list-style-type: none;
    padding: 0;
}

#container li{
    border-bottom : 1px dashed #DDDDDD;
    padding: 5px 0 5px 0;
}

#container li:last-child{
    border-bottom : none;
    padding: 5px 0 5px 0;
}

.pull-right{
    float: right;
}

#menu {
    width: 800px;
    padding: 15px;
    margin: 0 auto;
}

#menu li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
}

footer {
    color: gray;
    padding: 15px;
    width: 800px;
    margin: 0 auto;
    border-top : 1px dashed #DDDDDD;
}

/*Gist costumisation*/
.line_numbers, .gist-meta {
    display: none !important;
}

.gist-data {
    border-bottom: none !important;
}

.gist-file, .gist-data {
    border-radius: 2px !important;
}