html{
    overflow-x: hidden;
    overflow-y: scroll;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'pt sans', arial, helvetica, sans-serif !important;
    font-size: .92em;
	text-align: justify;
	line-height: 1.5em;
    background-color: #FFFDF9;
    color: #444444;
}

#top-bar{
    top: 0;
    position: fixed;
    height: 19px;
    width: 100%;
    background-color: #C83E22;
    box-shadow: 0 0 10px #888;
    z-index: 20;
}

#container{
    height: 100%;
    width: 800px;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
}

#container a,h4{
    color: #C83E22;
    text-decoration: none;
}

#container a:hover{
    text-decoration: underline;
}

#container ul{
    list-style-type: none;
    padding: 0;
}

#container li{
    border-bottom : 1px dashed #DDDDDD;
    padding: 5px 0 5px 0;
}

.pull-right{
    float: right;
}