<!--Twitter-->
<a href="https://twitter.com/robertboloc" class="twitter-follow-button" data-show-count="false">Follow @robertboloc</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!--Github-->
<iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=robertboloc&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="150px" height="20px"></iframe>