<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset=utf-8>
        <meta name=author content="Ivan Zarea">
        <link rel="shortcut icon" href="/assets/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/pygments.css" media="screen">
        <link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        {% include analytics.html %}
    </head>
    <body>
        <nav class="breadcrumb">
            <div>
                <a href="/"><b>Knitting Code  </b> </a>
            </div>
        </nav>
        <div id="container">
            {{ content }}
        </div>
        <footer></footer>
    </body>
</html>
