<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset=utf-8>
        <meta name=author content="Robert Boloc">
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
	<link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin' rel='stylesheet' type='text/css'> 
        {% include analytics.html %}
    </head>
    <body>
        <nav class="breadcrumb">
            <div>
                <a href="/"><b>Blog</b></a> /
                <a href="https://github.com/robertboloc">Projects</a> / 
                <a href="/contact">Contact</a>
            </div>
        </nav>
        <div id="container">
            {{ content }}
        </div>
        <footer>
            <div>
                All rights reserved. &nbsp;Last updated on {{ site.time | date: "%B %d, %Y" }}
            </div>
        </footer>
    </body>
</html>
